/unity-ui-viewer/[Ll]ibrary/
/unity-ui-viewer/[Tt]emp/
/unity-ui-viewer/[Oo]bj/
/unity-ui-viewer/[Bb]uild/
/unity-ui-viewer/[Bb]uilds/
/unity-ui-viewer/[Ll]ogs/
/unity-ui-viewer/[Uu]ser[Ss]ettings/
/unity-ui-viewer/MemoryCaptures/
/unity-ui-viewer/Recordings/
*.csproj
*.sln
*.user
*.suo
/ui-private/
/captures-private/
/output/
__pycache__/
*.pyc
